# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
*.egg
.pytest_cache/
.mypy_cache/

# Bot downloads & cache
downloads/
logs/
*.log
database.db
*.session
*.session-journal

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Heroku
.heroku/
