pyrogram==2.0.106
tgcrypto
py-tgcalls==2.1.1
yt-dlp>=2024.11.1
curl_cffi>=0.7.0
Pillow>=10.0.0
aiohttp
aiofiles
motor
pymongo
python-dotenv
httpx
lyricsgenius
mutagen
psutil
colorlog
uvloop
aiofiles
aiohttp
colorlog
curl_cffi>=0.7.0
httpx
lyricsgenius
motor
mutagen
Pillow>=10.0.0
psutil
py-tgcalls==2.1.1
pymongo
pyrogram==2.0.106
python-dotenv
tgcrypto
uvloop
yt-dlp>=2024.11.1
